{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 3 versions"
          ]
        },
        "modules": false
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}